<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>viewu_refresh</string>
		<string>viewu_refresh_urlSession</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Viewu requests permission to access your photo library in order to save event snapshot images directly to your device.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This permission allows Viewu to communicate with your Frigate server over the local network. For optimal security and reliability, it is recommended to access your servers using an FQDN secured with a valid SSL certificate over HTTPS.</string>
    <key>UIFileSharingEnabled</key>
    <true/> <!-- Use <true/> instead of <Boolean>YES</Boolean> for clarity/modern XML -->
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/> <!-- Value should be <true/> -->
    
</dict>
</plist>
